# OnePG Frontend Environment Variables
VITE_API_URL=https://onepg.co.in/api
VITE_GOOGLE_CLIENT_ID=820468676697-c0rgcdn6dbsjbkab1a87v4io4t7ct6ta.apps.googleusercontent.com
VITE_MICROSOFT_CLIENT_ID=7b52ce07-8da8-41d9-ae78-27bafb5f6406
